lib/wsdl/credifamilia-dev.wsdl

<wsdl:definitions targetNamespace="http://web.proptech.credifamilia.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax28="http://model.web.proptech.credifamilia.com/xsd" xmlns:ns="http://web.proptech.credifamilia.com" xmlns:ax25="http://request.web.proptech.credifamilia.com/xsd" xmlns:ax22="http://response.web.proptech.credifamilia.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://exception.web.proptech.credifamilia.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
   <wsp:Policy wsu:Id="SigOnly" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                  <sp:InitiatorToken>
                     <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Always">
                           <wsp:Policy>
                              <sp:WssX509V3Token10/>
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorToken>
                  <sp:RecipientToken>
                     <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Always">
                           <wsp:Policy>
                              <sp:WssX509V3Token10/>
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic256Sha256/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:OnlySignEntireHeadersAndBody/>
               </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
            </sp:Wss10>
            <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <sp:Body/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsdl:documentation>Endpoint expuestos a Proptechs</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://web.proptech.credifamilia.com" xmlns:ax210="http://model.web.proptech.credifamilia.com/xsd" xmlns:ax24="http://exception.web.proptech.credifamilia.com/xsd" xmlns:ax26="http://request.web.proptech.credifamilia.com/xsd" xmlns:ax27="http://response.web.proptech.credifamilia.com/xsd">
         <xs:import namespace="http://exception.web.proptech.credifamilia.com/xsd"/>
         <xs:import namespace="http://request.web.proptech.credifamilia.com/xsd"/>
         <xs:import namespace="http://response.web.proptech.credifamilia.com/xsd"/>
         <xs:import namespace="http://model.web.proptech.credifamilia.com/xsd"/>
         <xs:element name="proptechEndPointServiceFaultException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ServiceFaultException" nillable="true" type="ax24:ServiceFaultException"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="postExisteCliente">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="ax26:PostExisteClienteRequest"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="postExisteClienteResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:PostExisteClienteResponse"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="postClienteRadicacion">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="ax26:TitularRadicacionRequest"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="postClienteRadicacionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:PostRadicacionResponse"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="postCliente">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="ax26:PostClienteRequest"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="postClienteResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:PostClienteResponse"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPreaprobado">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="ax26:GetPreaprobadoRequest"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPreaprobadoResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:GetPreaprobadoResponse"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getListSelection">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getListSelectionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:GetListSelectionResponse"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getListProyectosByConstructora">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="request" nillable="true" type="ax26:ConstructoraRequest"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getListProyectosByConstructoraResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:GetListProyectoResponse"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAdresPreguntaRequest">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="getAdresPreguntaRequestResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax27:GetAdresPreguntaResponseDTO"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://request.web.proptech.credifamilia.com/xsd">
         <xs:complexType name="PostExisteClienteRequest">
            <xs:sequence>
               <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="TitularRadicacionRequest">
            <xs:sequence>
               <xs:element minOccurs="0" name="activos" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="canal" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="cedulaPEP" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="celularArrendador" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ciudadEmpresa" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ciudadOficina" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ciudadResidencia" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="codeudor" nillable="true" type="ax25:CodeudorRadicacion"/>
               <xs:element minOccurs="0" name="direccionEmpresa" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="direccionOficina" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="direccionResidencia" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="egresos" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="estrato" nillable="true" type="xs:int"/>
               <xs:element minOccurs="0" name="experienciaLaboral" nillable="true" type="xs:int"/>
               <xs:element minOccurs="0" name="extensionTelefonoEmpresa" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="fechaExpedicionCedula" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="fechaVigenciaCedulaExtranjeria" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="lugarExpedicionCedula" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="lugarNacimiento" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="manejaRecursosPublicos" nillable="true" type="xs:boolean"/>
               <xs:element minOccurs="0" name="nacionalidad" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nitEmpresa" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="nivelEducacion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombreArrendador" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombrePEP" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="otraNacionalidad" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="pasivos" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="referenciaFamiliar" nillable="true" type="ax25:Referencia"/>
               <xs:element minOccurs="0" name="referenciaPersonal" nillable="true" type="ax25:Referencia"/>
               <xs:element minOccurs="0" name="telefonoEmpresa" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="telefonoFijoArrendador" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="telefonoOficina" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="telefonoResidencia" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="tieneVinculoPEP" nillable="true" type="xs:boolean"/>
               <xs:element minOccurs="0" name="tipoVinculoPEP" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoViviendaResidencia" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="trabajaSedeDiferente" nillable="true" type="xs:boolean"/>
               <xs:element minOccurs="0" name="valorArriendo" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="vivienda" nillable="true" type="ax25:Vivienda"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="CodeudorRadicacion">
            <xs:sequence>
               <xs:element minOccurs="0" name="activos" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="cedulaPEP" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ciudadEmpresa" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="direccionEmpresa" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="direccionResidencia" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="egresos" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="experienciaLaboral" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="extensionTelefonoEmpresa" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="fechaExpedicionCedula" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="fechaIngresoActividadActual" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ingresoMensual" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="lugarExpedicionCedula" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="lugarNacimiento" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="manejaRecursosPublicos" type="xs:boolean"/>
               <xs:element minOccurs="0" name="nacionalidad" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nivelEducacion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombreEmpresa" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombrePEP" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="parentescoDeudor" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="pasivos" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="profesionOActividad" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="referenciaFamiliar" nillable="true" type="ax25:Referencia"/>
               <xs:element minOccurs="0" name="referenciaPersonal" nillable="true" type="ax25:Referencia"/>
               <xs:element minOccurs="0" name="telefonoEmpresa" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="telefonoResidencia" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="tieneVinculoPEP" type="xs:boolean"/>
               <xs:element minOccurs="0" name="tipoDeContrato" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoVinculoPEP" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Referencia">
            <xs:sequence>
               <xs:element minOccurs="0" name="celular" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="parentesco" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Vivienda">
            <xs:sequence>
               <xs:element minOccurs="0" name="constructora" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="creditoSolicitadoValorAFinanciar" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="destinoInmueble" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaEstimadaEntrega" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="modalidadCredito" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="plazoCredito" nillable="true" type="xs:int"/>
               <xs:element minOccurs="0" name="proyecto" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="recursosPropios" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="subsidioVivienda" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="tieneParqueadero" type="xs:boolean"/>
               <xs:element minOccurs="0" name="tipoInmueble" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoParqueadero" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoVivienda" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="valorInmueble" nillable="true" type="xs:long"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PostClienteRequest">
            <xs:sequence>
               <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="autorizacionConsultaCentrales" type="xs:boolean"/>
               <xs:element minOccurs="0" name="canal" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="celular" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ciudadResidencia" nillable="true" type="xs:string"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="codeudor" nillable="true" type="ax25:Codeudor"/>
               <xs:element minOccurs="0" name="codigoCapcha" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="encontroVivienda" type="xs:boolean"/>
               <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaIngresoEmpleo" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ingresosMensuales" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="numeroPersonasaCargo" nillable="true" type="xs:int"/>
               <xs:element minOccurs="0" name="ocupacion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="recursosPropios" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoActividad" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoContrato" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoProducto" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="valorCredito" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="valorInmueble" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="viviendaPropia" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Codeudor">
            <xs:sequence>
               <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="aportaIngresos" type="xs:boolean"/>
               <xs:element minOccurs="0" name="autorizacionConsultaCentrales" type="xs:boolean"/>
               <xs:element minOccurs="0" name="canal" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="celular" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ciudadResidencia" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:dateTime"/>
               <xs:element minOccurs="0" name="ingresoMensual" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="ocupacion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GetPreaprobadoRequest">
            <xs:sequence>
               <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ConstructoraRequest">
            <xs:sequence>
               <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.web.proptech.credifamilia.com/xsd" xmlns:ax29="http://model.web.proptech.credifamilia.com/xsd">
         <xs:import namespace="http://model.web.proptech.credifamilia.com/xsd"/>
         <xs:import namespace="http://model.web.proptech.credifamilia.com/xsd"/>
         <xs:complexType name="ServiceStatus">
            <xs:sequence>
               <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PostExisteClienteResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="existe" nillable="true" type="xs:boolean"/>
               <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PostRadicacionResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="radicado" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PostClienteResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="recibido" type="xs:boolean"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GetPreaprobadoResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="cartaPreaprobado" nillable="true" type="xs:base64Binary"/>
               <xs:element minOccurs="0" name="resultadoCliente" nillable="true" type="ax28:ResultadoCliente"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="resultadoCodeudor" nillable="true" type="ax28:ResultadoCodeudor"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GetListSelectionResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="listCiudadResidencia" nillable="true" type="ax28:ListCiudadResidencia"/>
               <xs:element minOccurs="0" name="listConstructoras" nillable="true" type="ax28:ListConstructoras"/>
               <xs:element minOccurs="0" name="listDestinoInmueble" nillable="true" type="ax28:ListDestinoInmueble"/>
               <xs:element minOccurs="0" name="listDireccionCorespondencia" nillable="true" type="ax28:ListDireccionCorespondencia"/>
               <xs:element minOccurs="0" name="listEstadoCivil" nillable="true" type="ax28:ListEstadoCivil"/>
               <xs:element minOccurs="0" name="listEstrato" nillable="true" type="ax28:ListEstrato"/>
               <xs:element minOccurs="0" name="listFondoPension" nillable="true" type="ax28:ListFondoPension"/>
               <xs:element minOccurs="0" name="listGenero" nillable="true" type="ax28:ListSexo"/>
               <xs:element minOccurs="0" name="listModalidadCredito" nillable="true" type="ax28:ListModalidadCredito"/>
               <xs:element minOccurs="0" name="listNacionalidad" nillable="true" type="ax28:ListNacionalidad"/>
               <xs:element minOccurs="0" name="listNivelEducacion" nillable="true" type="ax28:ListNivelEducacion"/>
               <xs:element minOccurs="0" name="listNomenclatura" nillable="true" type="ax28:ListNomenclatura"/>
               <xs:element minOccurs="0" name="listOcupacionCodeudor" nillable="true" type="ax28:ListOcupacionCodeudor"/>
               <xs:element minOccurs="0" name="listOcupacionPrincipal" nillable="true" type="ax28:ListOcupacionPrincipal"/>
               <xs:element minOccurs="0" name="listParentescoFamiliar" nillable="true" type="ax28:ListParentescoDeudor"/>
               <xs:element minOccurs="0" name="listParentescoPersonal" nillable="true" type="ax28:ListParentescoPersonal"/>
               <xs:element minOccurs="0" name="listProfesionActividadEmpleado" nillable="true" type="ax28:ListProfesionActividadEmpleado"/>
               <xs:element minOccurs="0" name="listProfesionActividadIndependiente" nillable="true" type="ax28:ListProfesionActividadIndependiente"/>
               <xs:element minOccurs="0" name="listTipoContrato" nillable="true" type="ax28:ListTipoContrato"/>
               <xs:element minOccurs="0" name="listTipoDocumento" nillable="true" type="ax28:ListTipoDocumento"/>
               <xs:element minOccurs="0" name="listTipoInmueble" nillable="true" type="ax28:ListTipoInmueble"/>
               <xs:element minOccurs="0" name="listTipoParqueadero" nillable="true" type="ax28:ListTipoParqueadero"/>
               <xs:element minOccurs="0" name="listTipoProducto" nillable="true" type="ax28:ListTipoProducto"/>
               <xs:element minOccurs="0" name="listTipoViviendaInmueble" nillable="true" type="ax28:ListTipoViviendaInmueble"/>
               <xs:element minOccurs="0" name="listTipoViviendaResidencia" nillable="true" type="ax28:ListTipoViviendaResidencia"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GetListProyectoResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="listProyectos" nillable="true" type="ax28:ListProyectos"/>
               <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="GetAdresPreguntaResponseDTO">
            <xs:sequence>
               <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="urlCaptcha" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.web.proptech.credifamilia.com/xsd">
         <xs:complexType name="ResultadoCliente">
            <xs:sequence>
               <xs:element minOccurs="0" name="detalle" nillable="true" type="ax28:Detalle"/>
               <xs:element minOccurs="0" name="estadoConsulta" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="fechaRetomaSolicitud" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="observacionesPrevalidador" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="resultadPrevalidador" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Detalle">
            <xs:sequence>
               <xs:element minOccurs="0" name="LTVPrevalidado" nillable="true" type="xs:decimal"/>
               <xs:element minOccurs="0" name="endeudamientoFinancieroPrevalidado" nillable="true" type="xs:decimal"/>
               <xs:element minOccurs="0" name="montoSugeridoPreaprobado" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="relacionCuotaIngresoPrevalidado" nillable="true" type="xs:decimal"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ResultadoCodeudor">
            <xs:sequence>
               <xs:element minOccurs="0" name="detalle" nillable="true" type="ax28:Detalle"/>
               <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:long"/>
               <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListCiudadResidencia">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Field">
            <xs:sequence>
               <xs:element minOccurs="0" name="label" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListConstructoras">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListDestinoInmueble">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListDireccionCorespondencia">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListEstadoCivil">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListEstrato">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListFondoPension">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListSexo">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListModalidadCredito">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListNacionalidad">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListNivelEducacion">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListNomenclatura">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListOcupacionCodeudor">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListOcupacionPrincipal">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListParentescoDeudor">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListParentescoPersonal">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListProfesionActividadEmpleado">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListProfesionActividadIndependiente">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoContrato">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoDocumento">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoInmueble">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoParqueadero">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoProducto">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoViviendaInmueble">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListTipoViviendaResidencia">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="ListProyectos">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="field" nillable="true" type="ax28:Field"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.web.proptech.credifamilia.com/xsd" xmlns:ax23="http://response.web.proptech.credifamilia.com/xsd">
         <xs:import namespace="http://response.web.proptech.credifamilia.com/xsd"/>
         <xs:import namespace="http://response.web.proptech.credifamilia.com/xsd"/>
         <xs:complexType name="ServiceFaultException">
            <xs:sequence>
               <xs:element minOccurs="0" name="serviceStatus" nillable="true" type="ax23:ServiceStatus"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getAdresPreguntaRequestRequest">
      <wsdl:part name="parameters" element="ns:getAdresPreguntaRequest"/>
   </wsdl:message>
   <wsdl:message name="getAdresPreguntaRequestResponse">
      <wsdl:part name="parameters" element="ns:getAdresPreguntaRequestResponse"/>
   </wsdl:message>
   <wsdl:message name="getListProyectosByConstructoraRequest">
      <wsdl:part name="parameters" element="ns:getListProyectosByConstructora"/>
   </wsdl:message>
   <wsdl:message name="getListProyectosByConstructoraResponse">
      <wsdl:part name="parameters" element="ns:getListProyectosByConstructoraResponse"/>
   </wsdl:message>
   <wsdl:message name="proptechEndPointServiceFaultException">
      <wsdl:part name="parameters" element="ns:proptechEndPointServiceFaultException"/>
   </wsdl:message>
   <wsdl:message name="postExisteClienteRequest">
      <wsdl:part name="parameters" element="ns:postExisteCliente"/>
   </wsdl:message>
   <wsdl:message name="postExisteClienteResponse">
      <wsdl:part name="parameters" element="ns:postExisteClienteResponse"/>
   </wsdl:message>
   <wsdl:message name="getPreaprobadoRequest">
      <wsdl:part name="parameters" element="ns:getPreaprobado"/>
   </wsdl:message>
   <wsdl:message name="getPreaprobadoResponse">
      <wsdl:part name="parameters" element="ns:getPreaprobadoResponse"/>
   </wsdl:message>
   <wsdl:message name="getListSelectionRequest">
      <wsdl:part name="parameters" element="ns:getListSelection"/>
   </wsdl:message>
   <wsdl:message name="getListSelectionResponse">
      <wsdl:part name="parameters" element="ns:getListSelectionResponse"/>
   </wsdl:message>
   <wsdl:message name="postClienteRequest">
      <wsdl:part name="parameters" element="ns:postCliente"/>
   </wsdl:message>
   <wsdl:message name="postClienteResponse">
      <wsdl:part name="parameters" element="ns:postClienteResponse"/>
   </wsdl:message>
   <wsdl:message name="postClienteRadicacionRequest">
      <wsdl:part name="parameters" element="ns:postClienteRadicacion"/>
   </wsdl:message>
   <wsdl:message name="postClienteRadicacionResponse">
      <wsdl:part name="parameters" element="ns:postClienteRadicacionResponse"/>
   </wsdl:message>
   <wsdl:portType name="proptechEndPointPortType">
      <wsdl:operation name="getAdresPreguntaRequest">
         <wsdl:input message="ns:getAdresPreguntaRequestRequest" wsaw:Action="urn:getAdresPreguntaRequest"/>
         <wsdl:output message="ns:getAdresPreguntaRequestResponse" wsaw:Action="urn:getAdresPreguntaRequestResponse"/>
      </wsdl:operation>
      <wsdl:operation name="getListProyectosByConstructora">
         <wsdl:input message="ns:getListProyectosByConstructoraRequest" wsaw:Action="urn:getListProyectosByConstructora"/>
         <wsdl:output message="ns:getListProyectosByConstructoraResponse" wsaw:Action="urn:getListProyectosByConstructoraResponse"/>
         <wsdl:fault message="ns:proptechEndPointServiceFaultException" name="proptechEndPointServiceFaultException" wsaw:Action="urn:getListProyectosByConstructoraproptechEndPointServiceFaultException"/>
      </wsdl:operation>
      <wsdl:operation name="postExisteCliente">
         <wsdl:input message="ns:postExisteClienteRequest" wsaw:Action="urn:postExisteCliente"/>
         <wsdl:output message="ns:postExisteClienteResponse" wsaw:Action="urn:postExisteClienteResponse"/>
         <wsdl:fault message="ns:proptechEndPointServiceFaultException" name="proptechEndPointServiceFaultException" wsaw:Action="urn:postExisteClienteproptechEndPointServiceFaultException"/>
      </wsdl:operation>
      <wsdl:operation name="getPreaprobado">
         <wsdl:input message="ns:getPreaprobadoRequest" wsaw:Action="urn:getPreaprobado"/>
         <wsdl:output message="ns:getPreaprobadoResponse" wsaw:Action="urn:getPreaprobadoResponse"/>
         <wsdl:fault message="ns:proptechEndPointServiceFaultException" name="proptechEndPointServiceFaultException" wsaw:Action="urn:getPreaprobadoproptechEndPointServiceFaultException"/>
      </wsdl:operation>
      <wsdl:operation name="getListSelection">
         <wsdl:input message="ns:getListSelectionRequest" wsaw:Action="urn:getListSelection"/>
         <wsdl:output message="ns:getListSelectionResponse" wsaw:Action="urn:getListSelectionResponse"/>
         <wsdl:fault message="ns:proptechEndPointServiceFaultException" name="proptechEndPointServiceFaultException" wsaw:Action="urn:getListSelectionproptechEndPointServiceFaultException"/>
      </wsdl:operation>
      <wsdl:operation name="postCliente">
         <wsdl:input message="ns:postClienteRequest" wsaw:Action="urn:postCliente"/>
         <wsdl:output message="ns:postClienteResponse" wsaw:Action="urn:postClienteResponse"/>
         <wsdl:fault message="ns:proptechEndPointServiceFaultException" name="proptechEndPointServiceFaultException" wsaw:Action="urn:postClienteproptechEndPointServiceFaultException"/>
      </wsdl:operation>
      <wsdl:operation name="postClienteRadicacion">
         <wsdl:input message="ns:postClienteRadicacionRequest" wsaw:Action="urn:postClienteRadicacion"/>
         <wsdl:output message="ns:postClienteRadicacionResponse" wsaw:Action="urn:postClienteRadicacionResponse"/>
         <wsdl:fault message="ns:proptechEndPointServiceFaultException" name="proptechEndPointServiceFaultException" wsaw:Action="urn:postClienteRadicacionproptechEndPointServiceFaultException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="proptechEndPointSoap11Binding" type="ns:proptechEndPointPortType">
      <wsp:PolicyReference URI="#SigOnly" xmlns:wsp="http://www.w3.org/ns/ws-policy"/>
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="getAdresPreguntaRequest">
         <soap:operation soapAction="urn:getAdresPreguntaRequest" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getListProyectosByConstructora">
         <soap:operation soapAction="urn:getListProyectosByConstructora" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="proptechEndPointServiceFaultException">
            <soap:fault use="literal" name="proptechEndPointServiceFaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="postExisteCliente">
         <soap:operation soapAction="urn:postExisteCliente" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="proptechEndPointServiceFaultException">
            <soap:fault use="literal" name="proptechEndPointServiceFaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPreaprobado">
         <soap:operation soapAction="urn:getPreaprobado" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="proptechEndPointServiceFaultException">
            <soap:fault use="literal" name="proptechEndPointServiceFaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getListSelection">
         <soap:operation soapAction="urn:getListSelection" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="proptechEndPointServiceFaultException">
            <soap:fault use="literal" name="proptechEndPointServiceFaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="postCliente">
         <soap:operation soapAction="urn:postCliente" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="proptechEndPointServiceFaultException">
            <soap:fault use="literal" name="proptechEndPointServiceFaultException"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="postClienteRadicacion">
         <soap:operation soapAction="urn:postClienteRadicacion" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="proptechEndPointServiceFaultException">
            <soap:fault use="literal" name="proptechEndPointServiceFaultException"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="proptechEndPoint">
      <wsdl:port name="proptechEndPointHttpSoap11Endpoint" binding="ns:proptechEndPointSoap11Binding">
         <soap:address location="https://pruebas.credifamilia.com.mx/proptech-ws-sec/services/proptechEndPoint.proptechEndPointHttpSoap11Endpoint/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>